A {
    color: #e64bdc;
}

#newsHeader {
    font-weight: bold;
    font-size: 14px;
    color: #7d2c75;
}

#newsBody {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}